#register-container{
    width: 99%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    

    
   
}

.register-button {
    margin: 30px 0px 0px 0px;   
}