#root{
    height: 100%;
    width: 100%;  
      
 } 
html,body{ 
height: 100%;
width: 100%;
font-family: 'Roboto', 'sans-serif';
background: #E5EDF5;   
margin: 0;
} 
.main-box {
    background-color: #fff;
    padding: 30px;  
    width: 350px;
    border-radius: 20px;
    align-items: center;
      
}

.field-label{
    font-size: 18px;
    color: #8D8D8D;
    margin-bottom: 15px;
    display: block;
}
.main-button{
    font-size: 15px; 
    color: #fff; 
    background: #1DD1A1; 
    height: 50px; 
    box-shadow: 0px 0px 16px  rgba(0, 0, 0, 0.17);
    width: 100%;
    border: 0px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;    
}

.input-holder {
    margin: 0px 0px 20px 0px;
}

.text-field {
    background-color: #fff;
    border: 2px solid;
    border-color: #C6C6C6;
    height: 2em;
    border-radius: 5px;
    width: 100%;
}

.onboarding-description {
    text-align: center;
    margin: 0px 0px 0px 0px;
    color: #8D8D8D;
    margin-bottom:2%;
   
   
    
}
.login-button {
    margin: 30px 0px 0px 0px;   
}
.main-header {
    width: 100%;    
    background: white;
    display: inline-flex;  
    justify-content: space-between;   
     
}
.avatar {
    display: inline-flex;
    align-items: center;   
    /* width: auto;  */
}

.avatar p {
    font-size: 18px;
    Color: #4d4d4d;
    margin-left: 15px;
    margin-right: 20px;
    white-space: nowrap;
    
    
}
.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;     
}


#login-container{
    width: 100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button {
    margin: 30px 0px 0px 0px;   
}


    


