.select-box {
   position: absolute;
    width: 150px;
    height: 80px;
    display: inline-block;
    background: #fff;
    top: 60px;
    padding: 0;
    right: 123px;
    border: 2px solid #aaa;
    border-radius: 10px;
    


}
.select-box button{
   border: none;
    width: 100%;
    height: 40px;
    background:transparent;
    cursor: pointer;


}
.select-box button:hover{
    background-color: #00FFFF;
}
