.newproduct-header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto -10px auto;
}
.newproduct-box {
    display: inline-flex;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.p-box {
    width: 430px;
    border-radius: 20px;
    background: rgb(233, 229, 229);
    display: flex; 
    justify-content: center;
    align-items: center;    
    
}
.p-box i {
    font-size: 50px;
    color: grey;
}
.plus-icon {
    display: block;
     text-align: center;
     font-size: 18px;
     color: #8D8D8D
}
.changepassword {
    background: transparent;
    border: none;
    cursor: pointer;
}
.changepassword:focus {
    outline: none;
    }
.changepassword:hover {
    transform: scale(1.5);
}
::placeholder {
    /* font-weight: bold; */
    color: black;
   
}